body {
  margin: 0;
}

/*##############################*/
/*##############################*/
/*########    SignIn    #######*/
/*##############################*/
/*##############################*/

.signIn--grid {
  height: 100vh;
  justify-content: center;
}

.signIn--grid__column {
  max-width: 450px;
}

/*##############################*/
/*##############################*/
/*########    Albums    #######*/
/*##############################*/
/*##############################*/

.albums--more {
  margin-top: 30px;
}

/*##############################*/
/*##############################*/
/*######    AddAlbumForm    #####*/
/*##############################*/
/*##############################*/

.addAlbumForm--edit {
  width: 100%;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  box-sizing: border-box;
}

.addAlbumForm--edit__input {
  width: calc(100% - 100px);
}

.addAlbumForm--edit__button {
  width: 80px;
}

/*##############################*/
/*##############################*/
/*########     Album     #######*/
/*##############################*/
/*##############################*/

.album--edit__input {
  width: 100%;
}